.btn {
  @include flex-center-y;
  background: none;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  color: $colorWhite;
  cursor: pointer;
  transition: .3s ease;

  @include screen-md {
    font-size: 16px;
  }

  &-primary {
    gap: 20px;
    padding: 14px 24px;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.04)) drop-shadow(-8px 8px 16px rgba(0, 0, 0, 0.08));
    font-family: inherit;

    @include screen-md {
      height: 55px;
      gap: 16px;
      padding: 14px;
    }

    @include screen-sm {
      font-size: 14px;
      line-height: 20px;
    }

    svg {
      @include screen-md {
        width: 26px;
        height: 24px;
      }

      @include screen-sm {
        width: 20px;
        height: 20px;
      }

      path {
        transition: .3s ease;
      }
    }

    &:hover {
      color: $colorNeonGreen;

      svg {
        path {
          fill: $colorNeonGreen;
        }
      }
    }

    &.active {
      background: $colorNeonGreen;
      color: $colorBlueGray;

      svg {
        path {
          fill: $colorBlueGray;
        }
      }

      &:hover {
        background: $colorHoverGreen;
      }
    }
  }

  &-secondary {
    gap: 20px;
    padding: 14px 24px;
    background: $colorDarkGray;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.04), -8px 8px 16px rgba(0, 0, 0, 0.08);

    @include screen-md {
      height: 55px;
      gap: 16px;
      padding: 14px;
    }

    svg {
      path {
        transition: .3s ease;
      }
    }

    &:hover {
      color: $colorNeonGreen;

      svg {
        path {
          fill: $colorNeonGreen;
        }
      }
    }
  }

  &-tertiary {
    padding: 12px;
    background: $colorDarkGray;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.04), -8px 8px 16px rgba(0, 0, 0, 0.08);
    border-radius: 12px;

    svg {
      path,
      rect {
        transition: .3s ease;
      }
    }

    &:hover {
      background: $colorHoverGreen;

      svg {
        path {
          fill: $colorBlueGray;
        }

        rect {
          stroke: $colorBlueGray;
        }
      }
    }
  }

  &-icon {
    @include flex-center-center;
    padding: 16px;
    border-radius: 12px;

    @include screen-md {
      width: 52px;
      height: 52px;
      gap: 8px;
      padding: 0;
    }

    @include screen-sm {
      width: auto;
      height: 42px;
      border-radius: 9px;
    }
  }
}