.information {
  @include flex-center-between;
  position: relative;
  margin-bottom: -20px;
  padding: 40px 0 30px;

  @include screen-md {
    gap: 24px;
    margin-bottom: -16px;
    padding: 40px 0 24px;
  }

  @include screen-tb {
    margin-bottom: 0;
    padding-top: 0;
  }

  @include screen-sm {
    flex-direction: column;

    & + .h1 {
      display: none;
    }
  }

  p {
    max-width: 440px;

    @include screen-sm {
      max-width: 100%;
    }
  }

  .social {
    display: flex;
    gap: 24px;

    @include screen-sm {
      flex-wrap: wrap;
      width: 100%;
      gap: 16px;
    }

    .btn {
      @include screen-sm {
        flex: 1;
      }

      span {
        display: none;

        @include screen-sm {
          display: block;
        }
      }
    }
  }

  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: $colorStrokeGradient;
    content: '';
  }
}