footer {
  padding: 40px;
  background: $colorBodyGradient padding-box, $colorStrokeGradient border-box;
  border-top: 1px solid transparent;

  .footer-top {
    @include flex-center-between;
    margin-bottom: 32px;
    padding-bottom: 32px;
    position: relative;

    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: $colorStrokeGradient;
      content: '';
    }
  }

  .footer-bot {
    @include flex-center-y;
    gap: 80px;

    span {
      &:first-child {
        margin-right: auto;
      }
    }
  }

  .social {
    display: flex;
    gap: 24px;
  }
}