$fontFamilyMain: "Manrope", sans-serif;
$colorWhite: #F5F4F3;
$colorDarkGray: #393C42;
$colorBlueGray: #2E323A;
$colorLightGray: #C3C3C3;
$colorIconGray: #21252A;
$colorError: #FC2A2A;
$colorTextHeader: #9B9C9C;
$colorNeonGreen: #C4ED31;
$colorHoverGreen: #97B806;
$colorBodyGradient: linear-gradient(42.52deg, #202427 -12.3%, #393C42 103.06%);
$colorGradient: linear-gradient(173.85deg, #393C42 -188.06%, #1D1F23 229.66%);
$colorStrokeGradient: linear-gradient(121.98deg, rgba(29, 31, 35, 0.8) -61.83%, rgba(245, 244, 243, 0.48) 313.95%);
$colorStrokeErrorGradient: linear-gradient(121.98deg, #FC2A2A -61.83%, rgba(252, 42, 42, 0.1) 313.95%);
$colorBackgroundGradient: linear-gradient(121.98deg, #97B806 -61.83%, rgba(151, 184, 6, 0.1) 313.95%);
$colorHoverGradient: linear-gradient(121.98deg, #97B806 -61.83%, rgba(151, 184, 6, 0.1) 313.95%);
