.btn {
  @include flex-center-y;
  background: none;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  color: $colorWhite;
  cursor: pointer;
  transition: .3s ease;

  &-primary {
    gap: 20px;
    padding: 14px 24px;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.04)) drop-shadow(-8px 8px 16px rgba(0, 0, 0, 0.08));
    font-family: inherit;

    svg {
      path {
        transition: .3s ease;
      }
    }

    &:hover {
      color: $colorNeonGreen;

      svg {
        path {
          fill: $colorNeonGreen;
        }
      }
    }

    &.active {
      background: $colorNeonGreen;
      color: $colorBlueGray;

      svg {
        path {
          fill: $colorBlueGray;
        }
      }

      &:hover {
        background: $colorHoverGreen;
      }
    }
  }

  &-secondary {
    gap: 20px;
    padding: 14px 24px;
    background: $colorDarkGray;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.04), -8px 8px 16px rgba(0, 0, 0, 0.08);

    svg {
      path {
        transition: .3s ease;
      }
    }

    &:hover {
      color: $colorNeonGreen;

      svg {
        path {
          fill: $colorNeonGreen;
        }
      }
    }
  }

  &-tertiary {
    padding: 12px;
    background: $colorDarkGray;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.04), -8px 8px 16px rgba(0, 0, 0, 0.08);
    border-radius: 12px;

    svg {
      path,
      rect {
        transition: .3s ease;
      }
    }

    &:hover {
      background: $colorHoverGreen;

      svg {
        path {
          fill: $colorBlueGray;
        }

        rect {
          stroke: $colorBlueGray;
        }
      }
    }
  }

  &-icon {
    padding: 16px;
  }
}